body {
  background-color: rgb(77, 193, 231);
}

.box1 {
  border: 2px solid rgb(255, 162, 162);
  background-color: lavender;
  height: 100;
  text-align: center;
  margin-top: 10;
}
.box2 {
  border: 2px solid rgb(255, 162, 162);
  background-color: lavender;
  height: 500;
  text-align: center;
  margin-top: 10;
}